In [17]:
for _ in range (10):
    print(_)

range(3)
#range: (start, stop, step size) or range(stop, start default 0). STOP = UNTIL BUT NOT INCLUDING

0
1
2
3
4
5
6
7
8
9

range(0, 3)

In [6]:
for _ in range(2,10,2):
    print(_)

2
4
6
8

In [8]:
index_count = 0
for _ in 'acfbe':
    print(f'At index count {index_count}, the letter is {_}')
    index_count+=1

At index count 0, the letter is a
At index count 1, the letter is c
At index count 2, the letter is f
At index count 3, the letter is b
At index count 4, the letter is e

The above is the word form illustration of the enumerate function.

In [9]:
index_count = 0
word = 'acfbe'
for _ in word:
    print(word[index_count])
    index_count+=1

a
c
f
b
e

In [10]:
word = 'acfbe'
for _ in word :
    print(_)

a
c
f
b
e

In [12]:
word = 'acfbe'
for _ in enumerate (word):
    print(_)
# enumerate is used for tuple return values, such that it is easier for further code

(0, 'a')
(1, 'c')
(2, 'f')
(3, 'b')
(4, 'e')

In [15]:
for (index_count, _) in enumerate (word):
    print(index_count)
    print(_)
    print('\n')

0
a


1
c


2
f


3
b


4
e

In [21]:
list(zip('abcdefg', range(3), range(4)))
# since a built-in index_count is called, zip is able to return an output, however while zipping your own lists, you
# will need to run a for loop

[('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]

In [62]:
mylist = [1,2,3]
mylist2 = [4,5,6]
(zip(mylist, mylist2))
#list(zip(mylist, mylist2)) you need to define the elements within a list in order for the zip function to operate

In [58]:
mylist = [1,2,3]
mylist2 = [4,5,6]
for (a,b,c) in zip(mylist,mylist2, range(3)):
    print(tuple((a,b)))

(1, 4)
(2, 5)
(3, 6)

In [54]:
type (print())
# Nonetype = very cool
# None type objects are not iterable

NoneType

In [56]:
for item in zip(mylist,mylist2, range(3)):
    print(item)

(1, 4, 0)
(2, 5, 1)
(3, 6, 2)

In [69]:
x = 0
x in [1,2,3]
# boolean test

False

In [73]:
y = [1,2,3,4]
min(x)

1

In [71]:
max(x)

4

In [72]:
# library importing
from random import shuffle

In [77]:
shuffle(y)
y
# returns nothing

[2, 4, 3, 1]

In [81]:
from random import randint
mynum = randint(0,100)
mynum

99

In [91]:
result = float(input('Enter a number here: '))

Enter a number here: 23

In [92]:
type(result)

float

In [93]:
result

23.0

In [94]:
int(result)

23